:root {
  --main: #662d91; /* Script analysis */
  --accent: #52e5e6; /* Voice Analysis */
  --secondAccent: #a580f2; /* Live Practice */
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
}

#LoginPage {
  background-color: #fbfbfb;
  width: 100vw;
  height: 100vh;
}

#loginPageAnimation {
  position: absolute;
  height: 100%;
  left: -150px;
}

#LoginButton {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 75%;
  right: 15%;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--main);
  color: #fbfbfb;
  transition: ease-in-out 200ms;
}

#LoginButton:hover {
  cursor: pointer;
  background-color: var(--secondAccent);
}

#appHeader {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 5em;
  background-image: linear-gradient(var(--secondAccent), white);
  border-bottom: 2px solid black;
  color: var(--main);
}

#username {
  font-family: 'Avenir Next Regular', sans-serif;
  font-size: 100%;
  text-align: center;
  position: relative;
  top: 40%;
}

#logoutButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 8vw;
  height: 2vw;
  background: none;
  color: white;
  border: none;
  vertical-align: middle;
  font-size: 15px;
}

#logoutButton:hover {
  cursor: pointer;
  background: #ac8cf0;
}

#appTitle {
  margin: 0 auto;
}

#appBody {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#mainPage {
  font-family: 'Avenir Next Regular', sans-serif;
  width: calc(100% - 300px);
  min-width: 80%;
  height: 100%;
}

#pleaseSelectScript {
  position: relative;
  margin: 30% 40% 0 40%;
  min-width: 40%;
}

#mainScriptChoice {
  font-weight: 600;
}

#sidePanel {
  box-sizing: border-box;
  width: 20%;
  max-width: 300px;
  min-width: 225px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-right: 2px solid black;
}

#pageList {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.pageOption {
  margin-bottom: 0.5em;
}

#scriptList {
  height: 60%;
  min-height: 75px;
  margin-top: auto;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.newScriptinSidePanel {
  display: inline-block;
  position: relative;
  border: none;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
  border-bottom: solid 4px transparent;
}

.selectedScript {
  display: inline-block;
  position: relative;
  border: none;
  background-color: white;
  text-decoration: underline;
  text-decoration-color: var(--main);
  text-decoration-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
  border-bottom: solid 4px transparent;
}

#livePerformance {
  height: 100%;
}

.scriptDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
  height: fit-content;
  min-width: 400px;
  width: 700px;
  max-width: 700px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-image: url('../paper4.jpeg');
}

.scriptTalkingBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.scriptAnalysisSentence:hover {
  cursor: pointer;
}

.talkingBlock {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 5px;
}
.author {
  font-weight: bold;
  margin-bottom: 20px;
}

.scriptCharacterText {
  font-weight: bold;
}

.playButtons {
  position: absolute;
  /* top: 90%; */
  left: 53.5%;
  margin: 0 auto;
  background: none;
}

.playButtons img {
  width: 25px;
  height: auto;
}

.button {
  background: none;
  border: none;
}

.button img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.disabledButton {
  background: none;
  border: none;
  filter: grayscale(100%);
}

mark {
  background: none;
  color: var(--secondAccent);
}

.highlightedSentence {
  color: var(--secondAccent);
}

.recorder {
  width: 80vw;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

#deleteScriptButton {
  bottom: 2px;
  border-color: var(--main);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  background-color: white;
  opacity: 0.8;
  position: -webkit-sticky;
  position: sticky;
}

#newScriptButton {
  position: -webkit-sticky;
  position: sticky;
  top: 2px;
  border-color: var(--main);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  background-color: white;
  opacity: 0.8;
}

#newScriptButton:hover #deleteScriptButton:hover {
  box-shadow: 1px 1px 1px var(--secondAccent);
  opacity: 1;
}

#yourScriptsHeading {
  margin: 0 auto;
}

#newScriptModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  box-shadow: -2rem 2rem 2rem grey;
}

#livePerformanceModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  box-shadow: -2rem 2rem 2rem grey;
}

#modalAuthorInput:hover,
#modalScriptInput:hover,
#modalTitleInput:hover {
  box-shadow: 1px 1px 1px grey;
  transition: box-shadow 0.4s ease-in-out;
}

#modalTitleInput {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#modalAuthorInput {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#modalScriptInput {
  width: 500px;
  height: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modalButtons {
  border: grey solid 2px;
  text-transform: uppercase;
  background-color: white;
  color: grey;
  margin-left: 10px;
}

.modalButtons:hover {
  background-color: var(--main);
  color: white;
  border-color: var(--main);
  transition: 0.4s ease-in-out;
}

#VoiceAnalysisChart {
  border-color: black;
  top: 100px;
  height: 600px;
  width: 600px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#TextAnalysisChartContainer,
.dummyContainer {
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

#TextAnalysisChart {
  height: 400px;
  min-width: 400px;
  width: 400px;
  text-align: center;
  padding-top: 20px;
}

.voiceRecorderAndTextContainer {
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 15vh 50vh 20vh;
  width: 1200px;
}

#mic {
  width: 700px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

#audioTextDisplay {
  border-width: thick;
  background-color: yellow;
  width: 400px;
  height: 400px;
  color: black;
  text-align: center;
  font-size: large;
  overflow-y: auto;
  /* position */
  left: 600px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  /* margin */
  margin-bottom: none;
}

#scriptAnalyzerContainer,
#livePerformanceContainer {
  display: flex;
  justify-content: space-evenly;
  max-height: calc(100vh - 7em);
}

.pageTitle {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

.selectedPage {
  display: inline-block;
  position: relative;
  background-color: var(--main);
  border-style: none;
  border-radius: 10px;
  opacity: 0.8;
  margin-bottom: 6.667px;
  color: white;
}

.pageOption {
  display: inline-block;
  position: relative;
  background-color: var(--secondAccent);
  border-style: none;
  border-radius: 10px;
  opacity: 0.8;
}

.pageOption:after,
.selectedPage:after,
.selectedScript:after,
.newScriptinSidePanel:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.pageOption:hover,
.selectedPage:hover,
.selectedScript:hover,
.newScriptinSidePanel:hover {
  cursor: pointer;
}

.pageOption:hover:after,
.selectedPage:hover:after,
.selectedScript:hover:after,
.newScriptinSidePanel:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}

#va-record-button {
  font-size: 1em;

  height: 65px;
  width: 65px;

  background-color: red;
  border-style: solid;

  border-width: thin;
  border-color: red;
  border-radius: 50%;

  /* position */
  position: relative;
  top: 25px;
  left: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  outline: none;
}

#va-record-button:hover {
  font-size: 1em;

  height: 65px;
  width: 65px;

  background-color: red;
  color: white;

  border-width: thin;
  border-color: red;
  border-radius: 50%;

  transition: all 0.7s cubic-bezier(0, 0, 0.3, 1);

  /* position */
  position: relative;
  top: 25px;
  left: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  outline: none;

  cursor: pointer;

  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#va-record-button-on {
  font-size: 1em;

  height: 65px;
  width: 65px;

  background-color: red;
  color: white;

  border-width: thin;
  border-color: red;
  border-radius: 50%;

  transition: all 0.7s cubic-bezier(0, 0, 0.3, 1);

  /* position */
  position: relative;
  top: 25px;
  left: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  outline: none;

  cursor: pointer;

  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#va-recorder-audio-hidden {
  display: none;
}

#va-recorder-audio-revealed {
  /* position */
  position: relative;
  top: 33px;
  left: 100px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  outline: none;
}

#va-analysis-chart-premessage {
  position: relative;
  top: 2px;
  left: 110px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
