:root {
  --main: #662d91; /* Script analysis */
  --accent: #52e5e6; /* Voice Analysis */
  --secondAccent: #a580f2; /* Live Practice */
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
}

#LoginPage {
  background-color: #fbfbfb;
  width: 100vw;
  height: 100vh;
}

#loginPageAnimation {
  position: absolute;
  height: 100%;
  left: -150px;
}

#LoginButton {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 75%;
  right: 15%;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--main);
  color: #fbfbfb;
  transition: ease-in-out 200ms;
}

#LoginButton:hover {
  cursor: pointer;
  background-color: var(--secondAccent);
}

#appHeader {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 5em;
  background-image: linear-gradient(var(--secondAccent), white);
  border-bottom: 2px solid black;
  color: var(--main);
}

#username {
  font-family: 'Avenir Next Regular', sans-serif;
  font-size: 100%;
  text-align: center;
  position: relative;
  top: 40%;
}

#logoutButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 8vw;
  height: 2vw;
  background: none;
  color: white;
  border: none;
  vertical-align: middle;
  font-size: 15px;
}

#logoutButton:hover {
  cursor: pointer;
  background: #ac8cf0;
}

#appTitle {
  margin: 0 auto;
}

#appBody {
  width: 100vw;
  height: 90vh;
  display: flex;
}

#mainPage {
  font-family: 'Avenir Next Regular', sans-serif;
  width: calc(100% - 300px);
  min-width: 80%;
  height: 100%;
}

#pleaseSelectScript {
  position: relative;
  margin: 30% 40% 0 40%;
  min-width: 40%;
}

#mainScriptChoice {
  font-weight: 600;
}

#sidePanel {
  box-sizing: border-box;
  width: 20%;
  max-width: 300px;
  min-width: 225px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-right: 2px solid black;
}

#pageList {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.pageOption {
  margin-bottom: 0.5em;
}

#scriptList {
  height: 60%;
  min-height: 75px;
  margin-top: auto;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.newScriptinSidePanel {
  border: none;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
  position: static;
  border-bottom: solid 4px transparent;
}

.newScriptinSidePanel:hover {
  border-bottom: solid 4px var(--main);
  opacity: 1;
}

#livePerformance {
  height: 100%;
}

.scriptDisplay {
  text-align: center;
  float: right;
  padding-right: 5%;
  width: 60%;
}

.talkingBlock {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.title,
.author {
  font-weight: bold;
}

.playButton {
  position: absolute;
}

mark {
  background-color: white;
  color: purple;
}

.recorder {
  width: 80vw;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

#deleteScriptButton {
  bottom: 2px;
  border-color: var(--main);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  background-color: white;
  opacity: 0.8;
  position: -webkit-sticky;
  position: sticky;
}

#newScriptButton {
  position: -webkit-sticky;
  position: sticky;
  top: 2px;
  border-color: var(--main);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  background-color: white;
  opacity: 0.8;
}

#newScriptButton:hover {
  box-shadow: 1px 1px 1px var(--secondAccent);
  opacity: 1;
}

#newScriptModal {
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin-right: '-50%';
  transform: 'translate(-50%, -50%)';
  display: flex;
  justify-content: center;
}

#modalTitleInput {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#modalAuthorInput {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#modalScriptInput {
  width: 500px;
  height: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#VoiceAnalysisChart {
  top: 10vh;
  height: 50vh;
  width: 40vw;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#TextAnalysisChart {
  height: 400px;
  min-width: 400px;
  width: 40vw;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  float: left;
  text-align: center;
}

.voiceRecorderAndTextContainer {
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 10vh 50vh 10vh;
  width: 80vw;
}

#mic {
  width: 80vw;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

#audioTextDisplay {
  color: black;
  text-align: center;
  font-size: large;
  overflow-y: scroll;
  /* position */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  /* margin */
  margin-bottom: none;
}

#scriptAnalyzerContainer {
  font-family: 'Avenir Next Regular', sans-serif;
  display: flex;
}

.pageOption {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: none;
}

.pageOption:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #662d91;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.pageOption:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#va-record-button {
  font-size: 1em;

  height: 9vh;
  width: 6vw;

  background-color: red;
  border-style: solid;

  border-width: thick;
  border-color: var(--main);
  border-radius: 50%;

  /* position */
  position: relative;
  top: 1vh;
  left: 8vw;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  outline: none;
}

#va-record-button:hover {
  font-size: 1em;

  height: 9vh;
  width: 6vw;

  background-color: red;
  color: white;

  border-width: thin;
  border-color: red;
  border-radius: 50%;

  transition: all 0.7s cubic-bezier(0, 0, 0.3, 1);

  /* position */
  position: relative;
  top: 1vh;
  left: 8vw;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  outline: none;

  cursor: pointer;
}

#va-recorder-audio-hidden {
  z-index: -1;
  position: relative;
  top: 1vh;
  left: 15vw;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#va-recorder-audio-revealed {
  background-color: var(--secondAccent);
  /* position */
  position: relative;
  top: 1vh;
  left: 15vw;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
